<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shivam97.salesxc">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".SalesXC"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".salesReport.ShopReport"></activity>
        <activity android:name=".Bills.AllBills" />
        <activity android:name=".orderClasses.PreViewActivity" />
        <activity android:name=".customers.AllCustomres" />
        <activity android:name=".customers.AddCustomer" />
        <activity android:name=".management.ProductDetailsActivity" />
        <activity
            android:name=".orderClasses.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AccSetup.SetupPagersAct" />
        <activity
            android:name=".BarcodeTest"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".management.AddProduct"
            android:exported="true" />
        <activity android:name=".management.ProductsList" />
    </application>

</manifest>